
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.card {
    margin: 15px 0;
}
.card-img-top{
    height: 400px;
}